.mainContainer{
    width: 90%;
    margin: auto;
    height: auto;
    background:white;
    padding: 20px 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.add_passenger_form{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.userSection{
    margin-top: 10px;
    border: solid 1px red;
}

.loggedInUserDetails, .driverDetails{
    display: flex;
    flex-direction: column;
}

.spacer{
    height:20px;
}